<h3>Purchase</h3>

<br><br>

<table>		
	<tr>
		<td><b>Buyer address</b>  <input type="text" ng-model="customerAddress" id="customerAddress" class="tab" value=""/> </td>	
	</tr>
		
</table>

<br>

<select id="chosenMerchant" ng-change="loadMerchantProducts()" ng-model="chosenMerchant" class="form-control" ng-init="chosenMerchant='none'">
	<option value="none">Select Merchant</option> 
	<option ng-repeat="merchant in merchants" value="{{merchant.merchantAddress}}">{{merchant.merchantName}}</option>
</select>	

<table>
	
	<tr>
		<td><b>Id</b></td>
		<td><b>Name</b></td>
		<td><b>Price</b></td>
		<td><b>Initial Stock</b></td>
		<td><b>Current Stock</b></td>
		<td></td>
	</tr>

	<tbody>
		<tr ng-repeat="(productId,productInstance) in merchantProducts">
			<td>{{productId}}</td>
			<td>{{productInstance.productName}}</td>
			<td>{{productInstance.productPrice}}</td>
			<td>{{productInstance.productInitialStock}}</td>
			<td>{{productInstance.productCurrentStock}}</td>				
			<td>
				<button class="button" ng-click="buy(productId, productInstance.productPrice, chosenMerchant)">buy</button>				
			</td>
		</tr>
	</tbody>

</table>

